$color-white-50: #FFFFFF;
$color-white-400: #848FAC;

$color-white-400-opacity: #848fac21;

$color-orange-50: #FF620A;
$color-orange-10: #FFECE2;

$color-aqua-500: #424F7B;

$color-blue-700: #192252;
$color-blue-800: #0E1734;

$color-black-900: #000000;